.profile__info {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    gap: 3px;
    max-width: 400px;
}


@media screen and (max-width: 1000px) {
    .profile__info {
        align-items: center;
        margin-bottom: 34px;
    }
}

@media screen and (max-width: 500px) {
    .profile__info {
        gap: 7px;
    }
}